/* Write your CSS here */
.cart-summary-container {
  align-self: flex-end;
}

@media (max-width: 769px) {
  .cart-summary-container {
    width: 100%;
    text-align: right;
  }
}

.total-order-price {
  color: #616e7c;
  font-family: 'Roboto';
  font-weight: 450;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .total-order-price {
    font-size: 25px;
  }
}

.total-price {
  color: black;
  font-family: 'Roboto';
  font-weight: 550;
}

.number-of-cart-items {
  color: #616e7c;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .number-of-cart-items {
    font-size: 18px;
  }
}

.checkout-button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  border: none;
  border-radius: 6px;
  width: 100%;
  height: 38px;
}
